# Configuration file

warmc {
    # Discord invite URL [default: https://discord.com/invite/GBXjqBxvjX]
    S:discordUrl=https://discord.com/invite/GBXjqBxvjX

    # Play button server address [default: warmc.duckdns.org]
    S:serverHost=warmc.duckdns.org

    # Play button server port [range: 1 ~ 65535, default: 25565]
    I:serverPort=25565
}


